* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px repeat(2, 1fr);
  justify-items: center;
  gap: 2px;
  background-color: #333; /* This creates visible grid lines */
  padding: 2px;
  align-self: center;
  min-width: 80%;
}

.main-container > * {
  background-color: white; /* Makes grid items stand out against the dark grid lines */
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hourly {
  grid-column: -2 / -1;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left-section {
  grid-row: 2/ -1;
  display: flex;
  flex-direction: column;
}

.weather-info {
  flex: 1;
  margin-bottom: 32px;
  text-align: center;
  font-size: 2em;

}

.weather-info-content {
}

.upcoming {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.upcoming-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: 1fr; */
  gap: 8px;
}

.date {
  font-weight: bolder;
}

.section-heading {
    border: 2px solid black;
}

